<%= provide(:title, "Order Management") %>
<%= render 'shared/admin_nav'%>

<div class="row">
	<div class="ui fluid card">
		
		<div class="content">
			<div class="ui container stackable grid">
				<div class="five column center aligned row">
					<div class="column">
						<%= link_to admin_orders_url(current_user.role, query: "unpaid"), class: "linkNoColor"  do %>
							 UNPAID<br> ORDERS<br> <%= @num_unpaid %>
						<% end %>
					</div>
					<div class="column">
						<%= link_to admin_orders_url(current_user.role, query: "unfulfilled"), class: "linkNoColor"  do %>
							 UNFULFILLED<br> ORDERS<br> <%= @num_unfulfilled %>
						<% end %>
					</div>
					<div class="column">
						<%= link_to admin_orders_url(current_user.role, query: "fulfilled"), class: "linkNoColor"  do %>
							 FULFILLED<br> ORDERS<br> <%= @num_fulfilled %>
						<% end %>
					</div>
					<div class="column">
						<%= link_to admin_orders_url(current_user.role, query: "complained"), class: "linkNoColor"  do %>
							 PENDING<br> ISSUES<br> <%= @num_problem %>
						<% end %>
					</div>
					<div class="column">
						<%= link_to admin_orders_url(current_user.role, query: "resolved"), class: "linkNoColor"  do %>
							 RESOLVED<br> ISSUES<br> <%= @num_feedback %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="content">
		
			<% @orders.each do |order| %>
				<div class="ui fluid card adminOrderCard" style="margin-top: 3em; margin-bottom: 3em;">
					<%= render 'orders/cards/order_summary_card_admin', order: order, col_span: "four" %>	
				</div>
			<% end %>

		</div>

	</div>
</div>