<% provide(:title, "Location Detail") %>
<%= render 'shared/admin_nav' %>

<h1 header class="ui header title"><%= @location.name %></h1>
<div class="row">
	<div class="column locationShowColumn">
		<label>Address:</label>
		<p><%= @location.address %></p>
		<label>Additional Information:</label>
		<p><%= @location.description %></p>
	</div>
</div>

<h4 class="ui horizontal divider header">
  <i class="wait icon"></i>
  Delivery Time for This Location
</h4>

<div class="row locationCalendarRow">
	<div class="ui seven column stackable grid">
		<div class="row">
			<% @day_of_week_namings.each_with_index do |day, index| %>
				<div class="center aligned column">
					<p class="locationScheduleHeader"><%= day %></p>
					<% if @schedule[index] %>
						<% @schedule[index].each do |location_time| %>
							<%= link_to locations_time_url(location_time), method: :delete, class: "ui label" do%>
								<%= location_time.pickup_time.pickup_time %>
								<%= semantic_icon :delete %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<h4 class="ui horizontal divider header">
  <i class="plus icon"></i>
  Add Delivery Time
</h4>
<div class="row">
	<%= render 'locations_times/new' %>
</div>