<%= form_for @recipe, html: { multipart: true, class: ["ui", "form", "column"], id: "newRecipeForm"} do |f| %>
	<%= render 'shared/error_msgs', object: f.object %>

	<div class="ui grid">
		<div class="eight wide column">
			<div class="field">
				<%= f.label :name %>
				<%= icon_input_wrapper(f, :name, :spoon, { placeholder: "dukbokki" }) %>
			</div>
		</div>

		<div class="eight wide column">
			<div class="field">
				<%= f.label :price %>
				<%= icon_input_wrapper(f, :price, :dollar, { placeholder: "please enter number only!" }) %>
			</div>
		</div>

		<div class="eight wide column">
			<div class="field">
				<%= f.label :type %>
				<%= f.select(:type, [['Dish', 'dish'], ['Milk Tea', 'milktea']], { prompt: "Select Type of Recipe" }, { class: "ui dropdown" }) %>
			</div>
		</div>

		<div class="eight wide column">
			<div class="field">
				<%= f.label :image %>
				<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png'%>
			</div>
		</div>

		<div class="sixteen wide column" id="newRecipeDishCategory">
			<div class="field">
				<%= f.label :dish_category %>
				<%= f.collection_select(:dish_category_id, DishCategory.all, :id, :name, { prompt: "Select Category" }, { class: "ui dropdown" }) %>
			</div>
		</div>

		<div class="sixteen wide column">
			<div class="field">
				<%= f.label :description %>
				<%= f.text_area(:description, rows: 5, placeholder: "Description comes in here...") %>
			</div>
		</div>

		<div class="sixteen wide column">
			<div class="field">
				<%= f.submit "Create New Item", class: "ui inverted blue button" %>
			</div>
		</div>
	</div>
<% end %>