<div class="column">
	<h4 class="ui horizontal divider header">
	  <i class="tag icon"></i>
	  New Milk Tea Add-on
	</h4>
	<%= form_for @milktea_addon, html: { class: ["ui", "form"], id: "newAddonForm"} do |f| %>
		<div class="field">
			<%= f.label :name %>
			<%= icon_input_wrapper(f, :name, :write, { placeholder: "Bubble" }) %>
		</div>

		<div class="field">
			<%= f.label :price %>
			<%= icon_input_wrapper(f, :price, :dollar, { placeholder: "Please enter numeric values only!" }) %>
		</div>

	<% end %>
</div>
