<div class="row">
	<%= recipe.name.upcase %> <%= recipe.price %>
</div>
<div class="row menuDescriptionRow">
	<em><%= recipe.description %></em>
</div>
<div class="row menuButtonRow">
	<%= link_to semantic_icon("list circular"), recipe_path(recipe), class: "menuButton" %>
	<% if recipe.is_a? Milktea %>
		<%= link_to semantic_icon("add to cart circular"), new_milktea_orderable_path(recipe), class: "menuButton" %>
	<% else %>
		<%= link_to semantic_icon("add to cart circular"), shopper_orderables_path(shopper_id: current_user.role_id, type: "dish", buyable_id: recipe.id), class: "menuButton", method: :post %>
	<% end %>
</div>
