<div class="row">
	<%= recipe.name.upcase %> <%= recipe.price %>
</div>
<div class="row">
	<em><%= recipe.description %></em>
</div>
	<% if recipe.is_a? Milktea %>
		<td class="selectable"><%= link_to semantic_icon("add to cart"), new_milktea_orderable_path(recipe) %>
	<% else %>
		<td class="selectable"><%= link_to semantic_icon("add to cart"), orderables_path(type: "dish", buyable_id: recipe.id), method: :post %></td>
	<% end %>

<%= link_to recipe.name, recipe_path(recipe) %>