<%= form_for @user, html: { class: ["ui", "form", "column"], id: "signupForm"} do |f| %>
	<%= render 'shared/error_msgs', object: f.object %>

	<div class="field">
		<%= f.label :email %>
		<%= icon_input_wrapper(f, :email, :mail, { placeholder: "Example@gmail.com" }) %>
	</div>

	<div class="field">
		<%= f.label :password %>
		<%= icon_input_wrapper(f, :password, :lock, { placeholder: "Minimum length: 6 characters!" }, :password_field) %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= icon_input_wrapper(f, :password_confirmation, "unlock alternate", { placeholder: "One more time :)" }, :password_field ) %>
	</div>

	<div class="field">
		<%= f.label :name %>
		<%= icon_input_wrapper(f, :name, :write, { placeholder: "Ji-yong Kwon" }) %>
	</div>
	
	<div class="field">
		<%= f.label :phone %>
		<%= icon_input_wrapper(f, :phone, :phone, { placeholder: "585-121-1121" }) %>
	</div>

	<div class="field">
		<%= f.label :wechat %>
		<%= icon_input_wrapper(f, :wechat, :wechat, { placeholder: "Optional alternative contact"}) %>
	</div>
	
	<% if current_user && current_user.admin? %>
		<div class="field">
			<%= f.label :role_type, "Role" %>
			<%= f.select(:role_type, [['Shopper', 'Shopper'], ['Admin', 'Admin'], ['Provider', 'Provider'], ['Driver', 'Driver']], { prompt: "Select Role: "}, { class: "ui dropdown" }) %>
		</div>
		
		<%= f.fields_for :role_attributes do |role_form| %>
			<div class="field" id= "newStore">
				<%= role_form.label :store_id %>
				<%= role_form.collection_select(:store_id, Store.all, :id, :name, { prompt: "Select Store: " }, { class: "ui dropdown" }) %>
			</div>
		<% end %>
	<% end %>
		
	<%= f.submit yield(:button_text), class: "ui teal basic button" %>
<% end %>