<% provide(:title, "User Management") %>
<%= render 'shared/admin_nav' %>

<div class="centered row">
	<div class="categoryTitle">User Management</div>
</div>

<div class="four column stackable row">
	<%= render 'new_user_card', user_role: "PROVIDER" %>
	<%= render 'new_user_card', user_role: "ADMIN" %>
	<%= render 'new_user_card', user_role: "SHOPPER" %>
	<%= render 'new_user_card', user_role: "DRIVER" %>
</div>

<div class="row">
	<%= will_paginate %>
</div>

<div class="row">
<ul>
	<%= render @users %>
</ul>
</div>

<div class="row">
	<%= will_paginate %>
</div>