<div class="row">
	<div class="ui teal stackable five item menu">
		<%= nav_link("Orders", admin_orders_url(current_user.role)) %>
		<%= nav_link("Menu", manage_recipes_path) %>
		<%= nav_link("Delivery", pickup_locations_path) %>
		<%= nav_link("Stores", stores_path) %>
		<%= nav_link("Users", users_path) %>
	</div>
</div>