<div class="row">
	<div class="ui teal stackable five item menu">
		<%= nav_link("Orders", user_orders_url(current_user)) %>
		<%= nav_link("Menu", manage_recipes_path) %>
		<%= nav_link("Delivery", pickup_locations_path) %>
		<%= nav_link("Promotion", "#") %>
		<%= nav_link("Users", users_path) %>
	</div>
</div>