<% provide(:title, "Recipe Management") %>
<%= render 'shared/admin_nav' %>

<h1 class="ui header title">Menu Management</h1>

<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  New Menu Item
</h4>
<div class="row" id="newRecipeRow">
	<%= render 'recipes/new_recipe' %>
</div>

<div class="row">
	<div class="ui two column grid">
		<div class="row">
		<%= render 'dish_categories/new_dish_category' %>
		<%= render 'milktea_addons/new_addon' %>
		</div>
	</div>
</div>

<div class="row">
	<h4 class="ui horizontal divider header">
	  <i class="cubes icon"></i>
	  All Menu Items
	</h4>
</div>

<%= render @dish_categories %>
