<div class="row">
	<div class="ui breadcrumb">
		<% if current_user.admin? %>
			<%= link_to "Order Management", admin_orders_url(current_user.role), class: "section" %>
		<% else %>
		  <%= link_to "Your Orders", shopper_orders_url(current_user.role), class: "section" %>
		<% end %>
	  <i class="right angle icon divider"></i>
	  <div class="active section">Current Order</div>
	</div>
</div>

<div class="row">
	<div class="ui fluid card">
		<div class="content">
			<div class="ui container stackable grid">
				<div class="four column center aligned row">
					<div class="column">ORDER PLACED<br> <%= @order.create_time %></div>
					<div class="column">PRICE<br> $ <%= @order.total %></div>
					<div class="column">RECIPIENT<br> <%= @order.recipient_name.capitalize %></div>
					<div class="column">RECIPIENT NUMBER<br> <%= @order.recipient_phone %></div>
				</div>
			</div>
		</div>

		<%= render 'orders/cards/order_summary_card_user', order: @order, col_span: "five" %>
		
		<div class="content orderShowCard">
			<div class="ui container stackable grid">
				<div class="centered row">
					<div class="ten wide center aligned column">
						<%= form_for @order, html: { class: ["ui", "form"], id: "orderShowFeedbackFrom" } do |f| %>
							<% if @order.no_feedback? || @order.feedback_resolved? %>
								<div class="field">
									<%= f.label :satisfaction,"Did we make you smile?" %>
									<%= f.hidden_field :satisfaction %>
									<div class="ui huge heart rating" data-rating="<%= @order.num_satisfaction %>" data-max-rating="5"></div>
								</div>
								<% if @order.no_feedback? %>
								  <div class="field">
										<%= f.label :issue, "Is there anything we can do better?" %>
								    <%= f.text_area :issue, rows: 2 %>
								  </div>
								  <%= submit_tag "Click me to save your rating and feedback!", class: "ui button inverted blue" %>
								<% else %>
									<%= submit_tag "Click me to save your rating!", class: "ui button inverted blue" %>
								<% end %>
						 	
						 	<% elsif @order.feedback_created? %>
						 		<div class="field">
						 			<%= hidden_field_tag :solved, '1' %>
						 			<p>We have received the following feedback from you:</p>
						 			<p><b><%= @order.issue %></b></p>						 			
						 			<p>We appreciate your feedback and will get back to you soon!</p>
						 		</div>
						 		<%= submit_tag "I have heard back from Teamond", class: "ui button inverted red", style: "width: 55%;" %>
						 	<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="orderShowCard content">
			<div class="ui cards orderShowCards">
				<% @order.orderables.each do |orderable| %>
					<%= render 'orders/cards/item_card_checkout', orderable: orderable %>
				<% end %>
			</div>
		</div>

	</div>
</div>

