<%-# This view is controlled by RecipeController and rendered through recipes/manage view %>

<% dish_category.dishes.each do |dish| %>
  <div class="four wide column recipeManageIndexColumn">
	  <div class="ui centered card">
	    <div class="image">
	      <%= link_to(image_tag(dish.image.url, class:"ui image"), edit_recipe_url(dish)) %>
	    </div>
	    <div class="content">
	      <div class="header"><%= dish.name %></div>
	      <div class="meta">
	        <%= link_to dish_category.name, edit_dish_category_url(dish_category) %>
	      </div>
	      <div class="description">
	        <%= dish.description %>
	      </div>
	    </div>
	    <div class="extra content">
	      <span class="left floated">
	        <i class="dollar icon"></i>
	        <%= dish.price %>
	      </span>
      	<% if dish.active %>
		      <span class="right floated success">
	      		<i class="checkmark icon"></i>ACTIVE
		      </span>
      	<% else %>
      		<span class="right floated error">
      			<i class="remove icon"></i>INACTIVE
      		</span>
      	<% end %>
	    </div>
	  </div>
  </div>	
<% end %>