<%= form_for @dish_category, html: { class: ["ui", "form", "fluid", "column"] } do |f| %>
	<%= render 'shared/error_msgs', object: f.object %>
	<div class="field">
		<%= f.label :name, "Category Name" %>
		<%= icon_input_wrapper(f, :name, :spoon, { placeholder: "dukbokki" }) %>
	</div>
	
	<div class="field">
		<%= f.submit yield(:button_text), class: "ui inverted blue button" %>
	</div>
<% end %>