<%= form_for @dish_category, html: { class: ["ui", "form"] } do |f| %>
	<%= render 'shared/error_msgs', object: f.object %>
	<div class="field">
		<%= f.label :name, "Category Name" %>
		<%= icon_input_wrapper(f, :name, :write, { placeholder: "dukbokki" }) %>
	</div>
	
	<div class="field">
		<%= f.submit yield(:category_button_text), class: "ui inverted #{yield(:category_button_color)} button" %>
	</div>
<% end %>