<%-# This view is controlled by RecipeController and rendered through recipes/manage view %> 

<div class="column">
	<h4 class="ui horizontal divider header">
	  <i class="tag icon"></i>
	  New Dish Category
	</h4>
	<%= form_for @dish_category, html: { multipart: true, class: ["ui", "form"], id: "newDishCategoryForm" } do |f| %>
		<%= render 'shared/error_msgs', object: f.object %>
		
		<div class="field">
			<%= f.label :name %>
			<%= icon_input_wrapper(f, :name, :write, { placeholder: "GGGGGDragon style salad variations" }) %>
		</div>

		<div class="field">
			<%= f.label :image %>
			<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png'%>
		</div>

		<div class="field">
			<%= f.label :description %>
			<%= f.text_area(:description, rows: 5, placeholder: "Category description comes in here...") %>
		</div>

		<%= f.submit "Create New Category", class: "ui inverted blue button" %>
	<% end %>
</div>