<div class="four wide column">
	<%= link_to image_tag( dish.image, alt: "#{dish.name} image", class: "ui small rounded image center "), recipe_url(dish) %>
</div>

<div class="five wide middle aligned column">
	<div class="row" style="margin-bottom: 0.5em;">
		<%= link_to dish.name, recipe_url(dish), class: "title" %>
	</div>
	<%= link_to semantic_icon("trash outline"), orderable_url(orderable), method: :delete , class:"ui icon button" %>
</div>

<div class="three wide middle aligned column">
		<p class="cartItemPrice">$ <%= dish.price * orderable.quantity %></p>
</div>

<div class="four wide middle aligned column">
	<p>Quantity:</p>
	<%= form_for orderable, html: { class: ["ui", "form"] } do |f| %>
			<div class="ui action input" style="width: 60px;">
				<%= f.text_field :quantity %>
				<button class="ui button"><%= f.submit "Update", class: "linkInButton" %></button>
			</div>
	<% end %>
</div>