<td>
	<%= link_to image_tag( dish.image, alt: "#{dish.name} image", class: "ui small rounded image center "), recipe_url(dish) %>
</td>
<td>
	<div class="centerBlock">
		<p><%= link_to dish.name, recipe_url(dish), class: "title" %></p>
		<%= link_to semantic_icon("trash outline"), orderable_url(orderable), method: :delete , class:"ui icon button" %>
	</div>
</td>
<td class="center aligned">
	<p class="cartItemPrice">$ <%= dish.price * orderable.quantity %></p>
</td>
<td>
	<%= form_for orderable, html: { class: ["ui", "form"] } do |f| %>
		<div class="field">
			<%= f.label :quantity  %>
			<div class="ui action input">
				<%= f.text_field :quantity %>
				<button class="ui button"><%= f.submit "Update", class: "linkInButton" %></button>
			</div>
		</div>
	<% end %>
</td>
