<td>
	<%= link_to image_tag( dish.image, alt: "#{dish.name} image", class: "ui small rounded image center "), recipe_url(dish) %>
</td>
<td>
	<p><%= link_to dish.name, recipe_url(dish) %></p>
	<button class="ui icon button"><%= semantic_icon "write" %></button>
	<button class="ui icon button"><%= semantic_icon "trash outline" %></button>
</td>
<td>
	<p>$ <%= dish.price %></p>
</td>
<td>
	<form class="ui form">
		<div class="field">
		<label>Quantity</label>
		<div class="ui action input">
			<input type="text" name="quantity">
			<button class="ui button" type="submit">Update</button> 
		</div>
		</div>
	</form>
</td>
