<div class="four wide column">
	<%= link_to image_tag( milktea.image, alt: "#{milktea.name} image", class: "ui small rounded image center"), recipe_url(milktea) %>
</div>

<div class="five wide middle aligned column">
		<div class="row" style="margin-bottom: 0.6em;">
			<%= link_to(milktea.name, recipe_url(milktea), class: "title") %>
		</div>
		
		<div class="row" style="margin-bottom: 0.7em;">
			<span class="ui label"><%= "#{orderable.buyable.display_size} size" %></span>
			<span class="ui label"><%= "#{orderable.buyable.display_sweet_scale} sweet"%></span>
			<span class="ui label"><%= "#{orderable.buyable.display_temp_scale}" %></span>
		</div>

		<% if orderable.buyable.milktea_addons.any? %>
			<div class="row" style="margin-bottom: 0.4em;">
				Toppings:
			</div>
			<div class="row" style="margin-bottom: 0.7em;">
				<% orderable.buyable.milktea_addons.each do |addon| %>
					<div class="ui <%= 'red ' unless addon.active %>label"> <%= addon.name %> </div>
				<% end %>
			</div>
		<% end %>
		<%= link_to semantic_icon("write"), edit_milktea_orderable_url(orderable.buyable), class: "ui icon button" %>
		<%= link_to semantic_icon("trash outline"), orderable_url(orderable), method: :delete , class:"ui icon button" %>
</div>

<div class="three wide middle aligned column">
	<p class="cartItemPrice">$ <%= orderable.unit_price * orderable.quantity %></p>
</div>

<div class="four wide middle aligned column">
	<p>Quantity:</p>
	<%= form_for orderable, html: { class: ["ui", "form"] } do |f| %>
			<div class="ui action input" style="width: 60px;">
				<%= f.text_field :quantity %>
				<button class="ui button"><%= f.submit "Update", class: "linkInButton" %></button>
			</div>
	<% end %>
</div>
