<% provide(:title, "Cart") %>

<h1 class="ui title header">Shopping Cart</h1>
<div class="row">
	<table class="ui very basic table" id="shoppingCartTable">
		<thead>
			<tr>
				<th class="four wide"></th>
				<th class="five wide"></th>
				<th class="three wide"></th>
				<th class="four wide"></th>
			</tr>
		</thead>
		<tbody>
			<%= render @orderables %>
		<tbody>
	</table>
</div>
<div class="row">
	<div class="ui buttons fluid">
		<%= link_to menu_url, class: "ui labeled icon button" do %>
	    Back to Shopping
	    <%= semantic_icon "left chevron" %>
	  <% end %>

	  <div class="ui button active">
	  	<%= semantic_icon :cocktail %>
	    Estimate for Total: $ <%= current_user.cart_balance_before_tax %>
	  </div>

    <%= link_to summary_url, class: "ui right labeled icon button" do %>
	    Continue to Checkout
	    <%= semantic_icon "right chevron" %>
	  <% end %>
	</div>
</div>