<% provide(:title, "Cart") %>
<div class="centered row">
	<div class="categoryTitle">Shopping Cart</div>
</div>

<div class="row" id="cartView">
	<div class="ui container stackable grid" id="cartListing">
		<% @items.each do |item| %>
			<%= render 'orderable', item: item %>
		<% end %>
	</div>
</div>


<div class="centered row" style="margin-top: 1em; border-top: 1px solid #D4D4D4;">
	<div class="ui tiny statistic">
		<div class="label">
			Subtotal Estimate:
		</div>
		<div class="value">
			$ <%= @shopper.cart_balance_before_tax %>
		</div>	
	</div>
</div>

<div class="row" id="cartCheckoutRow">
	<div class="right aligned column">
			<%= link_to menu_url, class: "ui labeled icon button" do %>
		    Back to Shopping
		    <%= semantic_icon "left chevron" %>
		  <% end %>

	    <%= link_to shopper_checkout_url(@shopper), class: "ui right labeled blue inverted icon button", id: "checkoutButton" do %>
		    Continue to Checkout
		    <%= semantic_icon "right chevron" %>
		  <% end %>
	</div>
</div>