<div class="row">
	<div class="center aligned column">
		<div class="ui steps">
		  <div class="step">
		    <i class="truck icon"></i>
		    <div class="content">
		      <div class="title"><%= link_to "Shipping", shopper_checkout_url(@shopper), class: "linkNoColor" %></div>
		      <div class="description">Choose your delivery location</div>
		    </div>
		  </div>

		  <div class="step">
		    <i class="wait icon"></i>
		    <div class="content">
		      <div class="title"><%= link_to "Timing", new_pickup_location_order_url(@locations_time.pickup_location), class: "linkNoColor" %></div>
		      <div class="description">Select delivery time</div>
		    </div>
		  </div>

		  <div class="active step">
		    <i class="info icon"></i>
		    <div class="content">
		      <div class="title">Recipient</div>
		      <div class="description">Enter recipient information</div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<%= form_for @order, url: locations_time_orders_url(@locations_time) , html: { class: ["ui", "form", "column"], id: "placeOrderForm" } do |f| %>
		<%= render 'shared/error_msgs', object: f.object %>
		<div class="ui container grid">
			<div class="two column row">
				<div class="column">
					<div class="field">
						<%= f.label :recipient_name, "Who's picking up? (required)" %>
						<%= icon_input_wrapper(f, :recipient_name, :spy) %>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<%= f.label :recipient_phone, "Contact number? (required)" %>
						<%= icon_input_wrapper(f, :recipient_phone, :call) %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="field column">
					<%= f.label :recipient_wechat, "Contact by WeChat? (optional)" %>
					<%= icon_input_wrapper(f, :recipient_wechat, :wechat) %>
				</div>
			</div>

			<div class="row">
				<h4 class="ui horizontal divider header" class="locationEditTopDivider">
				  <i class="dollar icon"></i>
				  Payment Information
				</h4>
			</div>
			<div class="row">
				<div class="field column">
					<%= f.label :payment_method do %>
						Payment Method:
						<%= semantic_icon "inverted blue visa" %>
						<%= semantic_icon "inverted blue mastercard" %>
						<%= semantic_icon "inverted blue american express" %>
						<%= semantic_icon "inverted blue discover" %>
					<% end %>
					<%= f.select(:payment_method, [['Pay Online', 'online'], ['Pay Cash', 'cash']], { include_blank: "select payment method"}, { class: "ui fluid dropdown", id: ""}) %>
					<small>Teamond handles all online transactions through secure payment service provider, Stripe <%= semantic_icon "stripe inverted blue" %>, a PCI Certified Level 1 provider. We do NOT process NOR store your payment information.</small>
				</div>
			</div>


			<div class="row" id="stripePaymentButton">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_tGb2jwze3GQ52hrSyUKXSu58"
			    data-image="https://stripe.com/img/open-graph/logo.png?2"
			    data-name="Teamond"
			    data-description="secure checkout"
			    data-amount="<%= @shopper.cart_balance_after_tax_in_penny %>"
			    data-locale="auto"
			    data-email="<%= @shopper.email %>">
			  </script>
			</div>

			<div class="row" id="placeOrderButton">
				<div class="column">
				 	<%= f.submit "Place Order", class: "ui blue inverted button" %>
			 	</div>
			</div>

			<div class="row" id="payOnlineButton">
				<div class="column">
				 	<%= f.submit "Place Order", class: "ui blue inverted button" %>
			 	</div>
			</div>

		</div>
	<% end %>
</div>
