<div class="row">
	<div class="ui breadcrumb">
	  <%= link_to "Shopping Cart", cart_url, class: "section" %>
	  <i class="right angle icon divider"></i>
	  <div class="active section">Order Summery</div>
	</div>
</div>

<div class="row">
	<h4 class="ui horizontal divider header" class="locationEditTopDivider">
	  <i class="calculator icon"></i>
	  Order Summary
	</h4>
</div>

<div class="row">
	<div class="ui cards">
		<% current_user.orderables.each do |orderable| %>
			<%= render 'orders/cards/checkout_item_card', orderable: orderable %>
		<% end %>
	</div>
</div>

<div class="centered row" id="paymentSummary">
	<div class="ui fluid card" id="checkoutPriceSummary">
		<div class="content">
			<p>Total before Tax: $ <%= sum(current_user.orderables) %></p>
			<p>Sales Tax (8%): $ <%= (sum(current_user.orderables) * 0.08).round(2) %></p> 
		</div>
		<div class="extra content">
			<p>Total Payment: $ <%= (sum(current_user.orderables) * 1.08).round(2) %></p>
		</div>
	</div>
</div>