<div class="row">
	<div class="center aligned column">
		<div class="ui steps">
		  <div class="step">
		    <i class="truck icon"></i>
		    <div class="content">
		      <div class="title"><%= link_to "Shipping", summary_url, class: "linkNoColor" %></div>
		      <div class="description">Choose your delivery location</div>
		    </div>
		  </div>

		  <div class="active step">
		    <i class="wait icon"></i>
		    <div class="content">
		      <div class="title">Timing</div>
		      <div class="description">Select delivery time</div>
		    </div>
		  </div>

		  <div class="disabled step">
		    <i class="info icon"></i>
		    <div class="content">
		      <div class="title">Recipient</div>
		      <div class="description">Enter recipient information</div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<%= form_tag pickup_location_orders_url(@location), class: "ui form column" do %>
		<div class="field">
			<%= label_tag :locations_time_id, "Delivery Time" %>
			<%= select_tag(:locations_time_id, options_from_collection_for_select(@location.valid_associations, :id, :associated_pickup_time), { include_blank: "Select delivery time", class: "ui fluid dropdown" }) %>
			<small>Didn't find the time you like? Check out our delivery schedule and see delivery times for other locations!</small>
		</div>
		<div class="field">
			<%= submit_tag "Continue", class: "ui blue inverted button" %>
		</div>
	<% end %>
</div>