<div class="content orderShowCard">	
	<div class="ui container stackable grid">
		<div class="row">
			<div class="four wide column">
				<div class="ui fluid card">
					<div class="content">
						<div class="header"><p class="<%= order.present_fulfillment_status[:klass]%>"><%= order.present_fulfillment_status[:msg] %></p></div>
						<div class="description">
							<p>Placed at:<br> <b><%= order.create_time_to_min %></b></p>
							<p>Id:<br> <b><%= "10052011-#{order.id}" %></b></p>
							<p><%= pluralize(order.item_count, 'item') %></p>
						</div>
					</div>
				</div>

				<div class="ui fluid card">
					<div class="content">
						<div class="header">Payment</div>
						<div class="description">
							<p>Payment amount: <br><b>$ <%= order.total %></b></p>
							<p>Payment method: <br><b><%= order.payment_method.capitalize %> payment</b></p>
							<p>Payment status: <br><b><%= order.payment_status.capitalize %></b></p>
						</div>
					</div>
				</div>
			</div>

			<div class="eight wide column">
					<div class="ui fluid card">
						<div class="content">
							<div class="header">Feedback</div>
							<div class="description">
								<p><b><span class="<%= order.present_issue_status[:klass] %>"><%= order.present_issue_status[:msg] %></span></b></p>
								<p>Satisfaction: <br><b><%= order.satisfaction.capitalize %></b></p>
								<% if order.issue && !order.issue.empty? %><p>User Feedback: <br><b><%= order.issue %></b></p><% end %>
							</div>
						</div>
					</div>

					<div class="ui fluid card">
						<div class="content">
							<div class="description">
								<%= form_for order, html: { class: ["ui", "form"] } do |f| %>
									<%= hidden_field_tag :query, params[:query] %>
									<% if order.issue %>
										<div class="field">
											<%= f.label :solution %>
											<%= f.text_area :solution, rows: 1 %>
										</div>
									<% end %>
									<div class="field">
										<%= f.label :note %>
										<%= f.text_area :note, rows: 1 %>
									</div>
									<div class="field">
										<%= f.label :payment_status %>
										<%= f.select(:payment_status, [['Unpaid', 0], ['Paid', 1], ['Refunded', 2]], {}, { class: "ui dropdown" }) %>
									</div>
									<div class="field">
										<div class="ui toggle checkbox">
											<%= f.check_box :fulfillment_status, {}, "1", "0" %>
											<%= f.label :fulfillment_status, "Mark as delivered" %>	
										</div>
									</div>
									<div class="field">
										<%= f.submit "Save", class: "ui button inverted blue" %>
									</div>
									<div class="field">
										<%= link_to "Order Detail", order_url(order), class: "ui button fluid inverted brown" %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
			</div>

			<div class="four wide column">
				<div class="ui fluid card">
					<div class="content">
						<div class="header">Delivery</div>
						<div class="description">
							<p>Delivery Time:<br> <b><%= semantic_icon :wait %> <%= order.delivery_time_to_min %></b></p>
							<p>Delivery Location:<br> <b><%= semantic_icon :marker %> <%= order.delivery_location %></b></p>
							<p>Delivery Instruction:<br> <b><%= semantic_icon "info circle" %><%= order.delivery_instruction %></b></p>
						</div>
					</div>
				</div>

				<div class="ui fluid card">
					<div class="content">
						<div class="header">People</div>
						<div class="description">
							<p>Email:<br> <b><%= order.shopper.email %></b></p>
							<p>Name:<br> <b><%= order.shopper.name.capitalize %></b></p>
							<p>Recipient:<br> <b><%= order.recipient_name.capitalize %></b></p>
							<p>Recipient Phone:<br> <b><%= order.recipient_phone %></b></p>
							<% if order.recipient_wechat && !order.recipient_wechat.empty? %><p>Recipient WeChat: <b><%= order.recipient_wechat %></b></p><% end %>				
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>