<div class="<%=col_span%> wide center aligned middle aligned column">
	<p>Order ID<br> <b>10052011-<%= order.id %></b>
	<p>Payment method: <b><%= order.payment_method.capitalize %></b></p>
	<p>Total number of <%= pluralize(order.item_count, 'item') %></p>
	<p><b><span class="<%= order.present_issue_status[:klass] %>"><%= order.present_issue_status[:msg] %></span></b></p>
</div>
