<div class="header"><%= link_to orderable.buyable.milktea.name.capitalize, recipe_url(orderable.buyable.milktea) %></div>
<div class="description">
  <p><%= "#{orderable.buyable.display_size.capitalize}, #{orderable.buyable.display_sweet_scale}, #{orderable.buyable.display_temp_scale}" %></p>
  <p>Quantity: <%= orderable.quantity %></p>
	<p>Toppings:</p>
	<ol class="ui list">
		<% orderable.buyable.milktea_addons.each do |addon| %>
			<li value=""><%= semantic_icon :checkmark %> <%= addon.name %></li>
		<% end %>
	</ol>
</div>