<div class="content orderShowCard">	
	<div class="ui container stackable grid">
		<div class="centered row">
			<div class="<%=col_span%> wide column">
				<p class="orderStatus <%= order.decode_fulfillment_status[:status]%>"><%= order.decode_fulfillment_status[:msg] %></p>
				<% if order.fulfillment_status == 0 %>
					<p>Scheduled for delivery:<br> <b><%= semantic_icon :wait %> <%= order.locations_time.associated_pickup_time %></b></p>
				<% else %>
					<p>Delivered on:<br> <b><%= semantic_icon :wait %> <%= order.locations_time.associated_pickup_time %></b></p>
				<% end %>
				<p>Delivery Location:<br> <b><%= semantic_icon :marker %> <%= order.locations_time.pickup_location.name %></b></p>
				<p>Delivery Instruction:<br> <b><%= semantic_icon "info circle" %><%= order.locations_time.pickup_location.description %></b></p>
			</div>
			<div class="<%=col_span%> wide column">
				<p>Order ID<br> <b>10052011-<%= order.id %></b>
				<p>Payment method: <b><%= order.decode_payment_method %></b></p>
				<p>Payment status: <b><%= order.decode_payment_status %></b></p>
				<% if order.recipient_wechat %><p>Recipient WeChat: <%= order.recipient_wechat %></p><% end %>
				<p>Total number of <%= pluralize(order.num_of_items, 'item') %></p>
				<p><b><span class="<%= order.decode_issue_status[:status] %>"><%= order.decode_issue_status[:msg] %></span></b></p>
			</div>
		</div>
	</div>
</div>