<%= nav_link("Teamond", root_path) %>
<%= nav_link("Menu", menu_path) %>
<% if is_computer %><div class="right menu"><% end %>
	<% if logged_in? %>
		<%= link_to orderables_path, class: "item" do %>
			Cart<div class="ui teal label"><%= current_user.orderables.count %></div>
		<% end %>
		<%= nav_link("Account", current_user) %>
		<%= link_to "Log Out", logout_path, method: "delete", class: "item" %>
	<% else %>
		<%= nav_link("Sign Up", signup_path) %>
		<%= nav_link("Log In", login_path) %>
	<% end %>
<% if is_computer %></div><% end %>